# Wrangling Code

In [2]:
options(repr.matrix.max.rows = 6)
library(tidyverse)
library(rvest)
library(repr)
library(tidymodels)

In [4]:
url <- read_csv("https://raw.githubusercontent.com/BurakMOzkan/DSCI100_group_3/main/heart.csv?token=GHSAT0AAAAAACJLJJFX6MODRMZYMQVYRZCMZJZYLWQ")
url

Rows: 1025 Columns: 14
── Column specification ────────────────────────────────────────────────────────
Delimiter: ","
dbl (14): age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpea...

ℹ Use `spec()` to retrieve the full column specification for this data.
ℹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

     age sex cp trestbps chol fbs restecg thalach exang oldpeak slope ca thal
1    52  1   0  125      212  0   1       168     0     1.0     2     2  3
2    53  1   0  140      203  1   0       155     1     3.1     0     0  3
3    70  1   0  145      174  0   1       125     1     2.6     0     0  3
⋮    ⋮   ⋮   ⋮  ⋮        ⋮    ⋮   ⋮       ⋮       ⋮     ⋮       ⋮     ⋮  ⋮
1023 47  1   0  110      275  0   0       118     1     1.0     1     1  2
1024 50  0   0  110      254  0   0       159     0     0.0     2     0  2
1025 54  1   0  120      188  0   1       113     0     1.4     1     1  3
     target
1    0
2    0
3    0
⋮    ⋮
1023 0
1024 1
1025 0

In [5]:
heart_disease <- url |>
                 select(age, cp, trestbps, chol, thalach) |>
                 rename(chest_pain_type = cp,
                        resting_bp = trestbps,
                        serum_cholesterol = chol,
                        max_heart_rate = thalach)
heart_disease

     age chest_pain_type resting_bp serum_cholesterol max_heart_rate
1    52  0               125        212               168
2    53  0               140        203               155
3    70  0               145        174               125
⋮    ⋮   ⋮               ⋮          ⋮                 ⋮
1023 47  0               110        275               118
1024 50  0               110        254               159
1025 54  0               120        188               113